<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link>
    <title>{% block title %} Shop {% endblock %}</title>
</head>
<body>
    <header>
        {% block header %}
            BOOKSTORE
        {% endblock %}
    </header>

    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        {% block nav %}
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> -> </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('index') }}">Главная</a>
        </li>
        {% if not 'username' in session %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}"> войти </a>
          </li>
      {% endif %}

      </ul>
    </div>
  </div>

        {% endblock %}
    </nav>

    <main>
        {% block main %}
        <br>
        {% for i in content %}
        <font size="4" color="#3e7872" face="Times New Roman">
        <div>
            Название: {{ i.name }} <br>
            Цена: {{ i.price }} <br>
            Описание: {{ i.description }}<br>
            <br>
        </div>
        </font>
        {% endfor %}
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            Контакты
        {% endblock %}
    </footer>
</body>
</html>
