{%  extends 'base.html' %}

{% block title %} shop {% endblock %}

{% block header %}
{{ super() }}
{% endblock %}

{% block nav %}
{{ super() }}
{% endblock %}

{% block main %}
<font size="4" color="#3e7872" face="Times New Roman">
    <br>
    <div>
        {% if username %}
        <h3> Привет {{ username }}, мы рады видеть Вас в нашем магазине ! <br>
        Обновления ассортимента будут приходить по адресу: {{ mail }} </h3>
        {% endif %}
    </div>
    <p>
        Для нас книги — это больше, чем просто листы с буквами. Книга - это альбом художника, в котором зарисованы красивые пейзажи и неизвестные лица людей.
        Книга - это дневник путешественника, в котором описаны большие страны и города. Книга - это блокнот фантазера, в котором он создает фантастические истории
        с придуманными героями. Книга - это заметки ученого, который ставит различные эксперименты, проводит опыты и открывает новые законы. Книга - это способ изучения мира...
        Почему люди читают книги? Книги играют очень важную роль в нашей жизни. Нет ни одной семьи, в доме которой не было бы книг. Почему так много людей увлечены чтением книг?
        Ответ прост – мир книг полон чудес.
    </p>
    <div>
        <form action="{{ url_for('logout') }}" method="GET">
            <button type="submit" >Выход из сессии (будут удалены cookie)</button>
        </form>

<!--        name = request.cookies.get('username')-->
    </div>
</font>
{% endblock %}

{% block footer %}
{{ super() }}
{% endblock %}